<h1>signup</h1>

<div class="">
  <form class="" action="/signup" method="post">
    <div class="">
      <label for="username">Username:</label>
      <input type="text" name="username" value="">
    </div>
    <div class="">
      <label for="password">Password:</label>
      <input type="password" name="password" value="">
    </div>
    <div class="">
      <label for="email">Email address:</label>
      <input type="email" name="email" value="">
    </div>
    <div class="">
      <input type="submit" value="submit">
    </div>
  </form>
</div>
